body{
  background-color: #292b2c;
}

.App {
  /*text-align: center;*/
}
.carox{
  max-height: 100%;
  max-width:100%;
  object-fit: cover;
}

.imagebox{
  width: 100%;        
  border: 0px solid black;
  height: 300px;
}

.eat-drink{
  margin-top: 10px;
}

.memberpart{
  background-color:#f7f7f7;
  margin:10px 0px 0px 0px;
  padding:20px 0px 20px 0px;
}

.footerpart{
  background-color: #292b2c;
  color:lightgrey;
  padding:20px 0px 20px 0px;
}

.footerpart a{
  color:lightgrey;
  text-decoration: none;
}

.footerpart a:hover{
  color:white;
}

.botBanner{
  width:100%;
  height: 300px;
}

.imgBotBanner{
  width:100%;
  height:100%;
  object-fit: cover;
  filter: brightness(50%); 
}

.page-space{
  background-color:#ffffff;
}

.shop-item:hover{
  border:1px solid black;
}

.imageFull{
  width:100%;
  height:100%;
  object-fit: cover;
  filter: brightness(70%);
}

.imageItemFull{
  width:100%;
  height:100%;
  object-fit: cover;
}

.generalBanner{
  width:100%;
  height: 150px;
  background-color: yellow;
}

.imageFrameItem{
  width:17rem;
  height: 17rem;
}

.navbarx{
  background:linear-gradient(#fff,#aaa);
  min-height: 100px;
}



.navbar {
  background:linear-gradient(#fff,#eee);
  min-height: 50px;
}

.navbar-brand {
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}
/*------------------------*/
.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}


/*CUSTOMING*/
.carouseling{
  background-color: black;
  padding:300px;
}
/*------------------------*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
